version: '2.4'

services:
  sut:
    build:
      context: .
      dockerfile: ./helios-integration-tests/Dockerfile
    environment:
      DOCKER_HOST: 'unix:///var/run/docker.sock'
      DBUS_SYSTEM_BUS_ADDRESS: 'unix:path=/shared/dbus/system_bus_socket'
    volumes:
      - dind:/var/run
      - dbus:/shared/dbus
    depends_on:
      docker:
        condition: service_healthy
      helios-api:
        condition: service_started
      systemd:
        condition: service_healthy

  helios-api:
    build:
      context: ./
      args:
        HELIOS_FEATURES: all
    image: helios
    command: socat TCP-LISTEN:80,reuseaddr,fork UNIX-CONNECT:/tmp/run/helios.sock
    depends_on:
      helios:
        condition: service_healthy
    volumes:
      - runtime:/tmp/run
    healthcheck:
      test: ['CMD', 'wget', '-O', '-', '-q', 'http://127.0.0.1/ping']

  # Override default configurations
  helios:
    build:
      context: ./
      args:
        HELIOS_FEATURES: all
    image: helios
    # Set-up required variables
    environment:
      DOCKER_HOST: 'unix:///var/run/docker.sock'
      BALENA_DEVICE_UUID: 'test-uuid'
      BALENA_SUPERVISOR_PORT: 48484
    volumes:
      - dind:/var/run
    depends_on:
      docker:
        condition: service_healthy

  docker:
    image: docker:dind
    privileged: true
    volumes:
      - dind:/var/run
    healthcheck:
      test: ['CMD', 'docker', 'ps']
      interval: 10s
      retries: 5
      timeout: 5s

  systemd:
    image: ghcr.io/balena-os/mock-systemd-bus
    privileged: true
    environment:
      DBUS_SYSTEM_BUS_ADDRESS: 'unix:path=/shared/dbus/system_bus_socket'
    volumes:
      - dbus:/shared/dbus
    healthcheck:
      test:
        [
          'CMD',
          'dbus-send',
          '--system',
          '--print-reply',
          '--dest=org.freedesktop.systemd1',
          '/org/freedesktop/systemd1',
          'org.freedesktop.DBus.Introspectable.Introspect',
        ]
      interval: 5s
      retries: 10
      timeout: 3s

volumes:
  dind:
    driver_opts:
      type: tmpfs
      device: tmpfs
  dbus:
    driver_opts:
      type: tmpfs
      device: tmpfs
  runtime:
    driver_opts:
      type: tmpfs
      o: ''
      device: tmpfs
